.RegisterForm {
  height: 120vh;
  width: 100%;

  background-image: url(banner1.jpg);
  background-size: 120%;

  display: flex;
  font-style: italic;
  color: #c2bdbd;
}

.form {
  background-color: white;
  width: fit-content;
  margin: auto;
  text-align: center;
  padding: 50px 50px;
}

.form h1 {
  font-weight: lighter;
  margin-top: 0;
}

.form input {
  margin: 0;
  padding: 30px 10px;
  width: 400px;
  border: #c2bdbd 1px solid;
}

.form input:focus {
  outline: none;
  border-color: #240370;
  background-color: #e0d4fd;
}

.form button {
  padding: 20px;
  width: 420px;
  margin-top: 20px;
  background-color: black;
  color: white;
}

.form button:hover {
  opacity: 75%;
  cursor: pointer;
}

.form a {
  text-decoration: none;
}

.errorText {
  color: red;
  margin: 0;
  text-align: start;
}

.form button:disabled,
button[disabled],
button:disabled:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
  opacity: 100%;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}
