.dummy {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #dff1f5;
  font-style: italic;
}

.dummy h1 {
  margin-left: 40px;
  
}

.dummy h2 {
  margin-right: 40px;
  color: #a39f9f;
}
